/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Open Sans', sans-serif;
}

button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: transparent;
    border-radius: 25px;
}

nav {
    padding: 0.25rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.right-nav {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline;
}

.nav, .nav-logo {
    margin: 8px;
    padding: 3px;
}

#logo {
    padding: 8px 5px;
}

#nav-button > .tuitt-button {
    background-color: #c2195b;
}

#bg-image {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    color: white;
}

.container {
    text-align: right;
    width: 40%;
    position: relative;
    left: 50%;
}

.title {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    width: 75%;
    margin-left: 9rem;
    margin-top: 2rem;
}

.apply-button {
    margin-top: 2rem;
    background-color: #c2195b;
}

.intro {
    padding-top: 3rem;
    text-align: center;
}

.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    font-weight: 600;
}

.intro-description, .prefooter-description {
    margin: 2.5rem 0;
    font-weight: 300;
}

.book-button {
    background-color: #336589;
}

footer {
    margin-top: 2.5rem;
    padding: 0.5;
    text-align: center;
    
}

footer > span {
    margin: 0 0.5rem;
    font-weight: 300;
}