body {
    padding: 0;
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}
.box {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.title-box {
    width: 500px;
}
.title-box img {
    width: 235px;
    margin-bottom: -10px;
}

.form-box {
    text-align: center;
    border-radius: 5px;
    background: #fff;
    margin-left: 60px;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.411);
}

.form-box input {
    width: 100%;   
}

.form-box button {
    width: 100%;
}

::placeholder {
    font-weight: lighter;
    color: rgba(71, 71, 71, 0.671);
}   


.form-box a {
    font-size: 12px;
}

#btn_cna {
    background-color: #42b72a;
}