:root {
    --color-212529: #212529;
    --color-ffd333: #ffd333;
    --color-47ad24: #47ad24;
    --color-e52e2e: #e52e2e;
    --color-828599: #828599;
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-bf4800: #bf4800;
    --color-1c1c1b: #1c1c1b;
    --color-eaeaea: #eaeaea;
}

.form-floating {
  color: #777777;
}

p.text-center.text-secondary.mb-4 {
  font-size: 14px;
}

/* Dashboard  */

.green {
    color: green;
}

.red {
    color: red;
}


.charts, .tables {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 8px #00000020;
}

.dash-cards {
    border-radius: 12px;
    box-shadow: 0 0 8px #00000020;
}

.quill {
    background-color: white;

}