body {
  font-family: "Roboto", sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout {
  min-height: 100vh;
  min-width: 50vw;
}

.ant-layout-sider {
  flex: 0 0 224px !important;
  max-width: 224px !important;
  min-width: 224px !important;
  width: 224px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.logo {
  background-color: transparent;
  margin: 0;
  height: auto;

}

main {
  overflow-y: scroll !important;
  background: transparent !important;
  height: 85vh;
}
main::-webkit-scrollbar {
  width: 0px
}

.ant-menu-title-content {
  font-size: 16px;
}

.ant-layout-header h5 {
  line-height: 24px;
  font-size: 14px
}

.ant-layout-header p {
  line-height: 16px;
  font-size: 12px;
}

.ant-layout-header div .badge {
  top: 14px;
  right: -6px
}

.error {
  color: red;
  font-size: 12px;
}

.ant-table-thead {
  font-size: 16px;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 8px !important;
}

.show-icon {
  font-size: 24px;
  color: rgba(3, 3, 3, 0.4); 
  transition: 0.3s;
}

.show-icon:hover{
  color: rgba(3, 3, 3, 0.9); 
}

.icon-container {
  text-align: center;
  margin-right: 36px;
}


