body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #928d8d;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/bg.jpeg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #928d8d;
  text-decoration: none;
}

a:hover {
  color: #928d8d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.562);
}

#header h2 span {
  color: #fff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 30px;
  display: flex;
}

#header .social-links a {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  width: 50px;
  height: 30px;
}



#header .social-links i:hover {
  color: #ffffff;
  transition: ease-in-out 0.3s;
  transform: scale(1.8);
}


@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 75px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 40px;
  letter-spacing: 0;
}

#header.header-top img {
  max-height: 60px;
  margin-right: 20px !important;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation *
**/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.288);
  white-space: nowrap;
  transition: 0.6s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 35px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/**
* Mobile Navigation *
**/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #928d8d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #928d8d;
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(204, 204, 204, 0.1);
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #fdfdfd;
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #fff;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 4px;
  height: 10px;
  transition: 2s;
  background-color: #ffffff;
}



/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(204, 204, 204, 0.1);
  transition: ease-in-out 0.6s;

}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
  color: #ffffff;
  transition: all 0.3s;

}

.interests .icon-box:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.6s;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
  display: none;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12); 

}

.interests .icon-box:hover>h3 {
  display: inline-block;

}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 250px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 45%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f5f5f5;
}

/*--------------------------------------------------------------
# Tools Overview
--------------------------------------------------------------*/

.tools-ov-icon {
  font-size: 100px;
  line-height: 50px;
  min-width: 50px;
  min-height: 50px;
  top: -50px;
  left: 45%;
}

.tools-ov-text {
  padding: 15px;
  font-size: 11px;
}


.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 800px;
 

}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
  transition: ease-in-out 0.6s;

  
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: transparent;
  opacity: 1;
  color: rgb(255, 255, 255);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.flip-card-back {
  background: Transparent;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #ffffff;
}



/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
.projects-vw .row {
  overflow: hidden;
}

.img-card {
  display: flex;
  height: 300px;
  width: 250px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: 30px 10px 15px;
  padding: 0;
}

.projects-vw .row .img-card img {
  border-radius: 10px;
  box-shadow: -1rem 0 1rem #000;
  object-fit: contain;
}

.img-card:not(:first-child) {
    margin-left: -150px;
}

.img-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.img-card:hover ~ .img-card {
  position: relative;
  left: 125px;
  transition: 1s ease-out;
}


.projects .container .card {
  background: rgba(204, 204, 204, 0.1);
  padding: 15px;
  border-radius: 15px;
  transition: all 0.3s;
  height: 600px;
  width: 400px;
}

.projects .container .card:hover {
  background: #ffffff59;
  transform: scale(1.1);
}

.projects .container .card img {
  border-radius: 10px;
  height: 350px;
}

.card-body {
  color: #ffffff;
}

.card-body .project-title {
  text-transform: uppercase;
  font-size: 30px;
}




/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #b4b3b3;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #5d6661;
  border: 5px solid #ffffff;
}

/*--------------------------------------------------------------
# Tools
--------------------------------------------------------------*/
.tools .icon-box {
  text-align: center;
  background: rgba(204, 204, 204, 0.1);
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
}

.tools .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #4b4b4b;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

.tools .icon-box .icon i {
  color: #fff;
  font-size: 50px;
  transition: all 1s ease-out 0s;
}

.tools .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all 0.1s ease-out 0s;
  transform: translateZ(-1px);
}

.tools .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}



.tools .icon-box p {
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
  text-align: justify;
}

.tools .icon-box:hover {
  background: #ffffff59;
  border-color: #8b8b8b;
  transform: scale(1.1);
  
}

.tools .icon-box:hover .icon {
  background: #fff;
  transform: rotateY(360deg);
}

.tools .icon-box:hover .icon i {
  color: #000000;
  transform: scale(2);
}

.tools .icon-box:hover .icon::before {
  background: #aaaaaa;
}

.tools .icon-box:hover h4 a,
.tools .icon-box:hover p {
  color: #fff;

}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #ffffff;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.contact .info-box i.bx:hover {
  color: #000000;
  transform: rotate(180deg);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #000000;
}

.contact .email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: #fff;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .email-form input::-moz-placeholder,
.contact .email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input::placeholder,
.contact .email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input {
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button[type=submit] {
  background: #928d8d;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
  background: #ffffff;
  color: #444444;
}

.foot-content {
  font-size: 10px;
  letter-spacing: 2px;
  color: #ffffff;

}

