/* Type Selector */
/* tag-name */
h1 {
    color: yellow !important;
}

/* Universal Selector */
/* all */
* {
    font-family: "Courier New", monospace;
    font-size: 20px;
}

/* ID Selector */
/* #ID Name */
#zuitt-motto {
    letter-spacing: 5px;
}

/* Class Selector */
/* .Class_Name */
.offering-item {
    text-transform: uppercase;
}

h3 {
    letter-spacing: 25px;
}

/* 
Selector Priority
    ID Selector
    Class Selector
    Attribute Selector
    Type Selector
    Universal Selector */


/*CSS Combinators*/

/* Adjacent Sibling Selector */
/* selector + selector */
    /* h3 + img {
        height: 300px;
        width: 300px;
        border-radius: 150px;
    } */

#zuitt-motto + img {
    height: 300px; 
    width: 300px;
    border-radius: 150px;
}

/* Descendant Selector */
/* selector selector */
#bootcamp-learning-list li {
    color: #075966;
}

/* General Sibling Selector */
/* selector ~ selector */
h2 ~ a {
    text-decoration: none;
}

.modules {
    letter-spacing: 3px;
}

