/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Color Grids */
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-bf4800: #bf4800;
  --color-1c1c1b: #1c1c1b;
  --color-eaeaea: #eaeaea;
}

/* GENERAL CONTEXT FONT */
body {
  /* font-family: 'Nunito', sans-serif; */
  font-family: "Rubik", sans-serif;
}

/* 'a' Tags Reset */
a {
  text-decoration: none;
  display: inline-block;
}

.form-control {
  font-size: 12px;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
  font-size: 14px;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 32px;
}

/* Header Start */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-upper-links a {
  font-size: 10px;
}

.header-upper-links .badge {
  border-radius: 50%;
  width: 24px;
}

.header-upper #basic-addon2 {
  background-color: var(--color-febd69);
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom #dropdown-menu {
  background-color: var(--color-131921);
  color: white;
  width: 100%;
}

.header-bottom #dropdown-menu a {
  background-color: var(--color-131921);
  color: white;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom #dropdown-menu a:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.header-bottom #dropdown-menu {
  transform: translate3d(0px, 64px, 0px) !important;
}

.header-bottom .menu-links a,
.header-bottom #dropdown-basic {
  color: white;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-bottom #dropdown-basic:focus {
  box-shadow: none;
}
/* Header End */

/* Footer Start */
footer {
  background-color: var(--color-232f3e);
}

footer div .footer-links {
  font-size: 12px;
  padding: 12px;
}

footer .contact-area {
  font-size: 10px;
  padding-left: 16px;
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer #basic-addon2 {
  background-color: var(--color-3b4149);
  color: white;
  padding: 8px 16px;
}
/* Footer End */

/* Home Page Start */
/* Wrapper 1 */
.home-wrapper-1 img,
.small-banner img {
  border-radius: 10px;
}

/* Left Side Banner (Main) */
.main-banner-content {
  top: 15%;
  left: 10%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -3px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--color-131921);
}

.main-banner-content a/* Link */ {
  background-color: var(--color-1c1c1b);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 24px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-banner-content a:hover {
  color: #131921;
  font-weight: 500;
  background-color: var(--color-febd69);
  transform: scale(1.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
}

/* Right Side Banner (Small) */
.small-banner-content {
  top: 15%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

/* Wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/* Marquee Wrapper */
.marquee-wrapper {
  background-color: var(--color-f5f5f7);
}

/* Categories */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 16px;
  border-radius: 12px;
}

.categories > div {
  width: 25%;
  padding: 8px 12px;
}

.categories > div > div {
  width: 45%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 16px;
  border-radius: 12px;
}
/* Home Page End */

/* Blog Start */
.section-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.blog-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000010;
  height: 100%;
  transition: 0.3s;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.blog-card .card-image img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  height: 380px;
  width: 500px;
}

.blog-card-view {
  background-color: white;
  padding: 64px;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000010;
}

.blog-card-view img {
  border-radius: 12px;
  height: 75vh;
}

.blog-content {
  padding: 24px;
}

.blog-content p.date {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5 {
  font-size: 16px;
  color: var(--color-131921);
}

.blog-content p.description {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-777777);
}

.blog-card-view h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.blog-card-view p {
  font-size: 16px;
  color: var(--color-777777);
}

.blog-card-view a {
  font-size: 16px;
  color: var(--color-777777);
  margin-bottom: 16px;
}

/* Blog End */

/* Product Card Start */
.product-card {
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000010;
  height: 100%;
  width: 100%;
}

.product-card .product-image {
  height: 250px;
}

.product-card .product-image img {
  object-fit: cover;
  height: 240px;
  width: 400px;
  border-radius: 8px;
}

/* .product-card .product-image > img:last-child {
  display: none;
}

.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}

.product-card:hover .product-image > img:last-child {
  display: block;
} */

.product-card:hover .action-bar {
  bottom: 1%
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 12px;
}

.product-card .product-details h5 {
  font-size: 16px;
  color: var(--color-131921);
}
.product-card p.description {
  font-size: 12px;
  color: var(--color-777777);
  text-align: justify;
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.action-bar {
  right: 4%;
  bottom: -8%;
  transition: 0.5s;
}

.action-bar .img-button {
  font-size: 18px;
  transition: 0.3s;
}

.action-bar .img-button:hover {
  background-color: var(--color-febd69);
  padding: 2px;
  border-radius: 50%;
  transform: scale(1.5);
}
/* Product Card End */

/* Featured Product Card Start */
.featured-product-card {
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: 0.3s;
}

.featured-product-card:hover {
transform: scale(1.05);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

.featured-product-card .badge {
  background-color: #ff595fd4 !important;
}

.featured-product-card img {
  border-radius: 12px;
}
/* Featured Product Card End */

/* Store Start */
.filter-card {
  background-color: white;
  border-radius: 12px;
  padding: 8px 12px 24px;
  box-shadow: 0 0 10px #00000010;
}

.filter-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-1c1c1b);
  margin-bottom: 4px;
}

.filter-card ul,
.filter-card,
.form-check-label {
  list-style-type: none;
  font-size: 12px;
  line-height: 24px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.sub-title {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-1c1c1b);
  margin-top: 24px;
}

.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.colors li {
  width: 16px;
  height: 16px;
  background-color: #777777;
  border-radius: 50%;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-tags .badge {
  background-color: var(--color-777777);
  color: white;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.filter-sort-grid {
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000010;
}

.grid img {
  width: 24px;
  height: 24px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  
}

.grid img:hover {
  background-color: var(--color-777777);
  transform: scale(1.2);
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 49.17%;
}

.gr-4 {
  width: 32.23%;
}

.gr-3 {
  width: 23.759%;
}

.gr-12 .product-card {
  display: flex;
  gap: 16px;
}

.gr-12 .product-card .product-image {
  height: auto;
}

.gr-12 .product-card .product-image img {
  object-fit: none;
  max-width: 500px;
}

.gr-12 .product-card .product-information .action-bar {
  right: 1%;
  transition: 0.5s;
}

.gr-6 .product-image img {
  margin: auto;
  width: 100%;
}
/* Store End */

/* Contact Start */
.contact-inner-wrapper {
  padding: 24px 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-inner-wrapper > div {
  width: 48%;
}

.contact-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-top: 0;
}

.contact-inner-wrapper input,
.contact-inner-wrapper textarea {
  background-color: var(--color-f5f5f7);
  border-radius: 12px;
  border-color: transparent;
  padding: 12px;
}

.contact-inner-wrapper ul {
  list-style-type: none;
}

.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-777777);
}

/* Contact End */

/* Compare Product Start */
.compare-product-card {
  padding: 24px 16px;
  background-color: white;
  border-radius: 12px;
}

.compare-product-card .cross,
.wishlist-card .cross {
  top: 12px;
  right: 12px;
  width: 18px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-details h5.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}

.compare-product-details h6.price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.compare-product-details p {
  font-size: 12px;
}

.compare-product-details .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* Compare Product End */

/* Wishlist Start */
.wishlist-card h5.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}

.wishlist-card h6.price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Login / Signup Start */
.login-card {
  padding: 16px;
  background-color: white;
  width: 500px;
  margin: 24px auto;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000010;
}

.login-card h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-777777);
}

.login-card .form-control {
  height: 48px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  border-radius: 12px;
  font-size: 12px;
  border-color: transparent;
}

.login-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-777777);
  transition: 0.2s;
}

.login-card a:hover {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-131921);
}

.login-card .signup {
  background-color: var(--color-131921);
  color: white;
  transition: 0.2s;
  padding: 6px 16px;
  border-radius: 24px;
}

.login-card .signup:hover {
  background-color: #6c757d;
  color: white;
}

/* Button */
.btn-secondary {
  font-size: 14px;
  font-weight: 400;
  padding: 7px 22px;
  border-radius: 24px;
}

.btn-secondary:hover {
  background-color: var(--color-131921);
  font-size: 14px;
  font-weight: 400;
}

/* Login / Signup End */

/* Forgot and Reset Password */
.login-card p {
  font-size: 12px;
  color: var(--color-777777);
}

/* Terms and Conditions, Policies, Returns and Refunds */
.policy {
  background-color: white;
  padding: 30px;
}

/* Product View Start */
.main-product-image {
  padding: 32px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.main-product-image img {
  width: 100% !important;
  height: 600px !important;
  object-fit: cover;
  border-radius: 6px;
}

/* zoom effect */
.main-product-image .js-image-zoom__zoomed-image {
  border-radius: 12px;
}

.main-product-details {
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-product-details h3 .title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.main-product-details p.price {
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  margin-top: 12px;
}

.main-product-details a.review-btn,
.review-count {
  color: var(--color-777777);
}

.product-heading {
  font-size: 16px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}

.product-data {
  font-size: 14px;
  color: var(--color-777777);
  margin-bottom: -2px;
}

.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
  transition: 0.3s;
}

.main-product-details a:hover {
  color: var(--color-febd69);
}

.main-product-details .buy-now {
  background-color: var(--color-1c1c1b);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 24px;
    transition: 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.main-product-details .buy-now:hover {
  color: #131921;
  font-weight: 500;
  background-color: var(--color-febd69);
  transform: scale(1.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
}

.main-product-details .add-to-cart {
  background-color: var(--color-febd69);
    color: #131921;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 24px;
    transition: 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.main-product-details .add-to-cart:hover {
  background-color: var(--color-1c1c1b);
  color: white;
  font-weight: 500;
  transform: scale(1.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.other-product-image {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.other-product-image > div {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 48%;
  border-radius: 8px;
}

.other-product-image img {
  border-radius: 6px;
}

.description-wrapper {
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 24px;
  color: var(--color-1c1c1b);
  margin-bottom: 8px;
}

.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
  margin-bottom: 0px;
  text-align: justify;
}

.review-inner-wrapper {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
}

.review-head h4 {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
  font-size: 12px;
  color: var(--color-777777);
}

.review-form h4 {
  color: var(--color-777777);
  font-size: 14px;
}

.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
  font-size: 12px;
  color: var(--color-777777);
}
/* Product View End */

/* Cart Page Start */
.cart-header,
.cart-data {
  border-bottom: 1px solid #eaeaea;
}

.cart-header h4 {
  font-size: 12px;
  color: var(--color-777777);
}

.cart-col-1 {
  width: 40%;
}

.cart-col-1 p {
  font-size: 14px;
  color: var(--color-777777);
}

.cart-col-2 {
  width: 10%;
}

.cart-col-3 {
  width: 15%;
}

.cart-col-4 {
  width: 15%;
}

.cart-data h5.price {
  font-size: 14px;
  color: var(--color-1c1c1b);
}
/* Cart Page End */

/* Checkout Page */
.total {
  font-size: 14px;
  color: var(--color-1c1c1b);
}

.total-price {
  font-size: 16px;
  color: var(--color-777777);
}

.checkout-page .checkout {
  background-color: var(--color-1c1c1b);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 24px;
    transition: 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.checkout-page .checkout:hover {
  color: #131921;
  font-weight: 500;
  background-color: var(--color-febd69);
  transform: scale(1.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
}

.checkout-page .continue {
  background-color: var(--color-febd69);
    color: #131921;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 24px;
    transition: 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.checkout-page .continue:hover {
  background-color: var(--color-1c1c1b);
  color: white;
  font-weight: 500;
  transform: scale(1.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
}

/* Error Validation */
.error {
  font-size: 10px;
  color: red;
}

/* BUTTONS */
.blog-button {
  background-color: var(--color-131921);
  color: white;
  transition: 0.2s;
  padding: 6px 16px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s;
}

.blog-button:hover {
  background-color: #6c757d;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
